<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>Id</th>
							<th>Médico</th>
							<th>Especialidad</th>
							<th>Fecha de nacimiento</th>
							<th>Email</th>
							<th>Dirección</th>
							<th>Número</th>
							<th>Operación</th>
							<th>Operación</th>
						</tr>
					</thead>
					<tbody id="medicos-list">
						<tr th:each="med:${listaMedicos}">
							<td th:text="${med.idMedico}"></td>
							<td th:text="${med.NombreMedico}"></td>
							<td th:text="${med.EspecialidadMedico}"></td>
							<td th:text="${#dates.format(med.fncMedico,'dd/MM/yyyy')}"></td>
							<td th:text="${med.emailMedico}"></td>
							<td th:text="${med.direccionMedico}"></td>
							<td th:text="${med.NumeroMedico}"></td>

							<td><a th:href="@{/mmedicos/delete?id=}+${med.idMedico}">
									Eliminar </a></td>

							<td><a th:href="@{'/mmedicos/goupdate/'+${med.idMedico}}">
									Editar </a></td>


						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>
</html>