<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head th:replace="master/master :: head">
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
<body>

	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<form th:action="@{/hhospitals/update}" method="post"
				th:object="${ho}">

				<div class="col-sm-12">
					<label class="form-label">Id:</label> <input type="text"
						th:field="*{idHospital}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">NombreHospital:</label> <input
						type="text" th:field="*{nameHospital}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">DireccionHospital:</label> <input
						type="text" th:field="*{adressHospital}" class="form-control"></input>
				</div>

				<div class="col-sm-12">	
						<label class="form-label">Id:</label> <input type="text"
						th:field="*{medico.idMedico}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Actualizar" class="btn btn-dark"></input>
				</div>

			</form>
		</div>
	</div>
</body>
</html>